.cart-dropdown {
  position: absolute;
  //   border: 1px black solid;
  box-shadow: 2px 2px 10px black;
  height: 340px;
  display: flex;
  background-color: white;
  padding: 20px;
  top: 80px;
  right: 0px;
  z-index: 1;
  width: 280px;
  border-radius: 8px;
  flex-direction: column;
  @keyframes dropdownOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation-name:dropdownOpacity ;
  animation-duration: 0.5s; 
  .cart-item {
    overflow-y: scroll;
    height: 260px;
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: auto;
    height: 50px;
    outline-style: none;
    border-style: none;
    background-color: black;
    box-shadow: 1px 1px 5px black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #d3cece;
      color: black;
      box-shadow: 1px 1px 5px white;
    }
  }
}
