.collection-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .collection-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  