.menu-item {
  min-width: 30%;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 240px;
  margin: 5px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    & .image-background {
      transform: scale(1.1);
    }
    & .content {
      opacity: 1;
    }
  }
  & .large {
    height: 380px;
  }
  &:first-child {
    margin-right: 7.5px;
  }
  &:last-child {
    margin-left: 7.5px;
  }
  & .image-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 90px;
    padding: 5px 20px;
    position: absolute;
    background-color: #eeeeee;
    opacity: 0.5;
    border-radius: 9px;
  }
}
